/* table.css */

/* Table Styles */
table.display {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 14px;
  }
  
  th {
    background-color: #e5e8e8;
    color: black;
    font-weight: bold;
  }
  
  /* Delete Button */
  .delete-button {
    padding: 4px 8px;
    font-size: 0.75rem;
    border-radius: 50%;
    color: red;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  /* Action Buttons */
  .table-controls {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
  }
  
  .button {
    margin: 5px;
    padding: 5px 10px;
    font-size: 0.75rem;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .download-button {
    background-color: #4CAF50;
  }
  
  .print-button {
    background-color: #2196F3;
  }
  
  /* Styling for pagination */
  .dataTables_paginate {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .dataTables_paginate .paginate_button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #2196F3;
    color: white;
    border-radius: 5px;
    font-size: 0.75rem;
    cursor: pointer;
  }
  
  .dataTables_paginate .paginate_button.current {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Pagination items aligned to the right */
  .dataTables_length,
  .dataTables_filter {
    display: inline-block;
    margin-right: 10px;
  }
  
  /* Make the DataTables pagination buttons smaller */
  .dataTables_paginate .paginate_button {
    padding: 3px 8px;
    font-size: 0.8rem;
  }
  
  .dataTables_wrapper {
    margin-top: 10px;
  }
  
  /* Adjust table wrapper spacing */
  div.dataTables_wrapper {
    margin-top: 10px;
  }
  
  @media (max-width: 768px) {
    table.display {
      font-size: 12px;
    }
    th, td {
      padding: 8px 10px;
    }
  }
  