<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python311\python.exe|C:\Python311\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\ESS\" />
    <add key="WSGI_HANDLER" value="MSF.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="MSF.settings" />
  </appSettings>
</configuration>

<div className="row">
          <div className="col-md-3"><strong>Employee Name:</strong> {timesheet?.EmployeeName}</div>
          <div className="col-md-3"><strong>Designation:</strong> {timesheet?.EmployeeDesignation}</div>
          <div className="col-md-3"><strong>Supervisor:</strong> {timesheet?.SupervisorName}</div>
          <div className="col-md-3"><strong>Period:</strong> {formatDate(timesheet?.PeriodStartDate)} - {formatDate(timesheet?.PeriodEndDate)}</div>
        </div>