.page-body {
  min-height: 150vh !important;
  margin-bottom: 8rem;
}
.project-box {
  transition: all 0.3s ease;
}

.project-box:hover {
  background-color: #2b5f60; /* Light background color */
  color: #f7f8fa;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15); /* Subtle shadow */
  cursor: pointer;
}
.project-box:hover h3 {
  color: #f7f8fa;
}
