
.password-requirements {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .password-requirements ul {
    margin-bottom: 0;
  }
  
  /* Style for invalid input fields */
  .is-invalid {
    border-color: #dc3545;
  }