.user-card {
    position: relative;
    background: white;
    border-radius: 8px;
    padding: 20px;
    margin: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 400px; /* Adjust this value to match your card's width */
  }
  
  .gradient-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    background: 
      linear-gradient(to right, rgba(106, 17, 203, 0.5), rgba(12, 108, 180, 0.5)), /* Gradient overlay */
      url('../../../static/img/bg/9.jpg') center/cover; /* Your image */
    opacity: 1; /* Increased opacity for the entire background */
  }
  
  .avatar-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 15px; /* Adjust this value to control overlap */
  }
  
  .avatar-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .user-info {
    text-align: center;
    margin-top: 20px;
  }
  
  .user-info h1 {
    margin: 0;
    font-size: 19px;
  }
  
  .user-info h2 {
    margin: 0;
    font-size: 15px;
    color: #555;
  }
  
  .info-section, .leave-balances-section {
    text-align: left;
    margin-top: 20px;
  }
  
  .info-section h3, .leave-balances-section h3 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
  }
  
  /* Scoped styles for .p and .icon within .user-card */
  .user-card p {
    margin: 5px 0;
    font-size: 12px; /* Reduced font size */
    color: #666;
    display: flex;
    align-items: center;
  }
  
  .user-card .icon {
    margin-right: 8px;
    color: #0c6cb4;
  }
  
  /* Ellipses styling */
  .user-card .ellipses {
    display: inline-block;
    width: 90px; /* Adjust width to control the number of dots */
    overflow: hidden;
    white-space: nowrap;
    color: #999; /* Light gray color for ellipses */
    margin-left: 5px; /* Space between colon and ellipses */
  }
  
  /* Skeleton loading animation */
  .user-card .skeleton-loading {
    margin-top: 10px;
    width: 100%; /* Ensure skeleton takes full width */
  }
  
  .user-card .skeleton-line {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%; /* Ensure skeleton line takes full width */
  }
  
  .user-card .skeleton-icon {
    width: 16px;
    height: 16px;
    background-color: #e0e0e0;
    border-radius: 50%;
    margin-right: 8px;
  }
  
  .user-card .skeleton-text {
    flex: 1; /* Take up remaining space */
    height: 12px;
    background-color: #e0e0e0;
    border-radius: 4px;
    animation: shimmer 1.5s infinite;
  }
  
  @keyframes shimmer {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }